---
import Layout from '../layouts/Layout.astro'
import SectionContainer from '../components/SectionContainer.astro'
import Hero from '../components/Hero.astro'
import TitleSection from '../components/TitleSection.astro'
import Briefcase from '../icons/Briefcase.astro'
import CodeIcon from '../icons/CodeIcon.astro'
import BtnGoTop from '../components/BtnGoTop.astro'
import Projects from '../components/Projects.astro'
import Curriculum from '../components/Curriculum.astro'
import About from '../components/About.astro'
import AboutIcon from '../icons/AboutIcon.astro'
---

<Layout
  title='My portfolio'
  description='A portfolio to showcase my projects and skills.'
>
  <main>
    <SectionContainer classname='pad' id='home'>
      <Hero />
    </SectionContainer>
    <SectionContainer id='resume'>
      <TitleSection>
        <Briefcase />
        Mi currículum
      </TitleSection>
      <Curriculum />
    </SectionContainer>
    <SectionContainer id='projects'>
      <TitleSection>
        <CodeIcon />
        Proyectos
      </TitleSection>
      <Projects />
    </SectionContainer>
    <SectionContainer id='about'>
      <TitleSection>
        <AboutIcon />
        Sobre mí
      </TitleSection>
      <About />
    </SectionContainer>
    <SectionContainer id='contact' />
    <BtnGoTop />
    <span class='rights'
      >@2025. Derechos para
      <a
        href='https://www.youtube.com/@midudev'
        target='_blank'>midudev
      </a>
      . Gracias midu 🤍.
      </span
    >
  </main>
</Layout>

<style>
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .rights {
    margin-bottom: 5px;
    font-size: .8rem;
    font-weight: 200;
  }

  .rights a {
    color: rgb(236, 213, 1);
    text-decoration: none;
    font-weight: bold;
  }
</style>
