---
import Layout from '../layouts/Layout.astro'
import SectionContainer from '../components/SectionContainer.astro'
import Hero from '../components/Hero.astro'
import TitleSection from '../components/TitleSection.astro'
import Briefcase from '../icons/Briefcase.astro'
import CodeIcon from '../icons/CodeIcon.astro'
import BtnGoTop from '../components/BtnGoTop.astro'
import Projects from '../components/Projects.astro'
---

<Layout title='My portfolio' description='A portfolio to showcase my projects and skills.'>
	<main>
    <SectionContainer classname='pad' id='home'>
      <Hero />
    </SectionContainer>
    <SectionContainer id='resume'>
      <TitleSection>
        <Briefcase />
        Mi currículum
      </TitleSection>
    </SectionContainer>
    <SectionContainer id='projects'>
      <TitleSection>
        <CodeIcon />
        Proyectos
      </TitleSection>
      <Projects />
    </SectionContainer>
    <SectionContainer id='about'></SectionContainer>
    <SectionContainer id='contact'></SectionContainer>
    <BtnGoTop />
    <section style={{ width: '100%', height: '100vh'}}></section>
  </main>
</Layout>

<style>
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>