<span>
  <slot />
</span>

<style>
  span {
    color: white;
    padding: 7px;
    background-color: rgb(16, 100, 203);
    font-size: small;
    font-weight: lighter;
    border-radius: 10px;
    border: 1px solid hsl(240, 32%, 21%);
  }
</style>