---
const { name, className } = Astro.props
---

<a class={`tab-btn ${className ? className : ''}`}>
  <slot />
  {name}
</a>

<style>
  .tab-btn {
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all .3s ease;
  }

  .tab-btn:not(.active):hover {
    background-color: rgba(255, 255, 255, 0.103);
  }

  .tab-btn.active {
    color: rgb(225, 184, 248);
    border: 1px solid rgb(97, 15, 230);
    background-color: rgba(59, 2, 97, 0.349);
    transition: all .3s ease;
  }

  .tab-btn.active:hover {
    background-color: rgba(90, 1, 150, 0.349);
  }
</style>