<header>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contacts">Contacts</a>
  </nav>
</header>

<style>
  header {
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;

    a {
      text-decoration: none;
      color: white;
      opacity: .8;
    }
  }
</style>
					