<a href={Astro.props.href} target="_blank" rel="noopener noreferrer">
  <slot />
</a>


<style>
  a {
    padding: 5px 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border: 1px solid rgba(128, 128, 128, 0.419);
    border-radius: 20px;
    color: white;
    font-size: 0.7rem;
    background: rgba(128, 128, 128, 0.121);
    transition: .3s;

    &:hover {
      transform: scale(1.05);
      background: rgba(255, 255, 255);
      color: black;
    }
  }
</style>