---
import Header from '../components/Header.astro'
import Background from '../components/Background.astro'
import '@fontsource-variable/onest'

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name='description' content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Background />
		<Header />
		<slot />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}

	*, html {
		font-family: 'Onest Variable', system-ui, sans-serif;
		scroll-behavior: smooth;
		box-sizing: border-box;
	}

	body {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		/* background: linear-gradient(180deg, rgb(3,6,19) 40%, rgb(8, 12, 32) 100%); */
		background: rgb(3,6,19);
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow-x: hidden;
		position: relative;
	}
</style>
